<a href="https://colab.research.google.com/github/carliinii/Syllabus-2021-2-S8/blob/main/tarea1%20grupal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Ciencias de Datos

*Esta tarea tiene dos partes. Una parte en parejas y otra individual. La parte en parejas se encuentra en este cuaderno de Python. Luego, cada uno de los integrantes de la pareja debe tomar la sección A o la sección B, y cada integrante debe realizar solamente la sección de la tarea que escogió. Estas secciones se encuentran en los archivos **tarea_01-A.ipynb** y **tarea_01-B.ipynb**, respectivamente.*

## Tarea 1 (Parte Grupal)

### Objetivos

1. Familiarización con Python en el contexto de Ciencias de Datos
2. Manejo de conjuntos de datos utilizando funciones propias de Pandas

### Metodología

Deberás completar este cuaderno de python, siguiendo las instrucciones contenidas en él. Puedes utilizar contenido que encuentre en internet siempre y cuando lo referencies a través de un comentario. Por ejemplo:

>```Python
># código para abrir archivo obtenido desde  https://uniwebsidad.com/libros/algoritmos-python/capitulo-11
>archivo = open("archivo.txt")
>```

No olvides poner nombres representativos a tus variables. Caso contrario se verá reflejado en una penalización de tu nota.

### Conjuntos de Datos

Se le entregan 4 conjuntos de datos: codigos.csv, datos_comunas.csv, presupuesto_2019.csv y poblacion.csv. 

#### codigos.csv

 | columna | descripción |
 | --- | :---: |
 | Código Región | **Entero**: Identificador único para cada región. |
 | Nombre Región | **String**: Nombre de la región. |
 | Abreviatura Región | **String**: Abreviatura (en letras) o nombre corto de la región.  |
 | Código Provincia | **Entero**: Identificador único para cada provincia. |
 | Nombre Provincia | **String**: Nombre de la provincia. |
 | Código Comuna 2018 | **Entero**: Identificador único para cada comuna. |
 | Nombre Comuna | **String**: Nombre de la comuna. |

 #### datos_comunas.csv

 | columna | descripción |
 | --- | :---: |
 | id | **Entero**: Identificador único para cada comuna. Mismo identificador que en **codigos.csv**. |
 | metros_plaza | **Entero**: Cantidad de metros de plaza que tiene la comuna. |
 | metros_parque | **Entero**: Cantidad de metros de parque que tiene la comuna.  |
 | personas_trabaja | **Entero**: Número de personas que trabaja en la municipalidad de la comuna. |

 #### presupuesto_2019.csv

 | columna | descripción |
 | --- | :---: |
 | CODIGO | **Entero**: Identificador único para cada comuna. Mismo identificador que en **codigos.csv**. |
 | MUNICIPIO | **String**: Nombre de la comuna. |
 | PRESUPUESTO | **Entero**: Presupuesto destinado a la comuna.  |

 **Observación**: en la columna `PRESUPUESTO`, hay datos que están como "no recepcionados. Eso puede producir que los análisis fallen, por lo que se recomienda limpiar los datos antes.

 #### poblacion.csv

 | columna | descripción |
 | --- | :---: |
 | CODIGO | **Entero**: Identificador único para cada comuna. Mismo identificador que en **codigos.csv**. |
 | MUNICIPIO | **String**: Nombre de la comuna. |
 | POBLACIÓN | **Entero**: Número de personas que vive en la comuna.  |

## Integrantes

Por favor, llenar acá el nombre de los integrantes de la pareja, junto a la asignación de las consultas de la sección A y la sección B.

- **Integrante 1**:
- **Integrante 2**:
- **Integrante que realiza la sección A**:
- **Integrante que realiza la sección B**:

## Recomendaciones

Primero, deberías importar en la siguiente celda **TODOS** los módulos de Python necesarios para la correcta ejecución de su tarea.

In [16]:
import pandas as pd
import numpy as np

Luego, deberías guardar en una (o varias) variable(s) TODOS los sets de datos que utilizarás en la tarea.

In [17]:
df_codigos= pd.read_csv("codigos.csv", sep=";")
df_datos_comunas= pd.read_csv("datos_comunas.csv")
df_presupuesto_2019= pd.read_csv("presupuesto_2019.csv", sep=";")
df_poblacion= pd.read_csv("poblacion.csv", sep=";")

Utilice las variables previamente guardadas para mostrar parte de la información de todos los conjuntos de datos. Vale decir, si usted creó dos variables, cada una con un conjunto de datos diferente, muestre parte de los dos conjuntos de datos. Esto te ayudará a entender mejor lo que contiene cada fuente de datos.

In [ ]:
#Escriba su código aquí
# hay que sacarle el "#" a la variable que se desee visualziar porque solo proyecta una por celda

#         Codigos         #

#df_codigos
#df_codigos.sample(10)
#df_codigos.describe()
#df_codigos.info()
#df_codigos.columns

#        Datos Comuna     #

#df_datoscomunas
#df_datoscomunas.sample(10)
#df_datoscomunas.describe()
#df_datoscomunas.info()
#df_datoscomunas.columns

#      Poblacion          #

#df_poblacion
#df_poblacion.sample(10)
#df_poblacion.describe()
#df_poblacion.info()
#df_poblacion.columns

#      Presupuesto        #

#df_presupuesto
#df_presupuesto.sample(10)
#df_presupuesto.describe()
#df_presupuesto.info()
#df_presupuesto.columns

Además, si necesitas hacer algún pre-procesamiento **COMÚN** a todas sus futuras respuestas, deberías hacerlo en la siguiente celda

In [ ]:
#Escriba su código aquí

## Actividad

### Parte grupal 

Utilizando los datos previamente guardados en variables, conteste (o genere) las respuestas a las siguiente consultas (enunciados):

1. Genera y muestre un Dataframe que contenga solamente las siguientes columnas: Nombre Región, Nombre Provincia, Nombre Comuna
2. Genera y muestre un Dataframe que contenga solamente las siguientes columnas: Nombre Región, Nombre Provincia, Nombre Comuna, metros_plaza
3. ¿Cuántos metros de plaza tiene CADA región?
4. ¿Cuál es la región con la mayor cantidad de metros de plaza?

Ahora, incorporaremos los datos de presupuesto y de población. En base a esto, contesta las siguientes preguntas:

5. Genera un dataframe que contenga las siguientes columnas: Nombre comuna, Presupuesto, Población.
6. Entrega la población de cada región.
7. Entrega la población de cada provincia

### Parte Individual

**Completar en los archivos correspondientes. Cada integrante del grupo resolverá uno de los archivos.**

## Detalles académicos

La nota de cada integrante de la pareja será calculado como $0.5 \cdot \text{Parte Grupal} + 0.5 \cdot \text{Parte Individual} $, donde la Parte Grupal corresponde a las 7 primeras consultas, y la parte individual a la sección respectiva elegida por cada integrante. **La tarea debe ser subida al buzón correspondiente de Webcursos hasta el 23 de Agosto a las 23:59 horas**.

**Importante**: Recuerde que debe generar el código que responda las preguntas. Por ejemplo para la pregunta 4, debe entregar el código que muestre por pantalla la región con la mayor cantidad de metros de plaza. Si entrega sólo el dataframe ordenado su respuesta **no estará completamente correcta**.

## Pregunta 1

In [18]:
frame = pd.DataFrame(df_codigos)
frame[['Nombre Región', 'Nombre Provincia', 'Nombre Comuna']]

    Nombre Región Nombre Provincia  Nombre Comuna
0        Tarapacá          Iquique        Iquique
1        Tarapacá          Iquique  Alto Hospicio
2        Tarapacá        Tamarugal   Pozo Almonte
3        Tarapacá        Tamarugal         Camiña
4        Tarapacá        Tamarugal       Colchane
..            ...              ...            ...
341         Ñuble          Punilla     San Carlos
342         Ñuble          Punilla       Coihueco
343         Ñuble          Punilla         Ñiquén
344         Ñuble          Punilla     San Fabián
345         Ñuble          Punilla    San Nicolás

[346 rows x 3 columns]

## Pregunta 2

In [19]:
df_merge = df_codigos.merge(df_datos_comunas, left_on='Código Comuna 2018', right_on='id')
df_merge
df_merge = df_merge[['Nombre Región' , 'Nombre Provincia' , 'Nombre Comuna' , 'metros_plaza']]
df_merge

    Nombre Región Nombre Provincia  Nombre Comuna  metros_plaza
0        Tarapacá          Iquique        Iquique       58460.0
1        Tarapacá          Iquique  Alto Hospicio      130316.0
2        Tarapacá        Tamarugal   Pozo Almonte           NaN
3        Tarapacá        Tamarugal         Camiña        4050.0
4        Tarapacá        Tamarugal       Colchane        2532.0
..            ...              ...            ...           ...
340         Ñuble          Punilla     San Carlos      168800.0
341         Ñuble          Punilla       Coihueco       21282.0
342         Ñuble          Punilla         Ñiquén       21925.0
343         Ñuble          Punilla     San Fabián        9500.0
344         Ñuble          Punilla    San Nicolás       36300.0

[345 rows x 4 columns]

## Pregunta 3

In [22]:
df_merge['metros_plaza'].groupby([df_merge['Nombre Región']]).sum()

Nombre Región
Antofagasta                                    772259.0
Arica y Parinacota                             374154.0
Atacama                                        400882.0
Aysén del General Carlos Ibáñez del Campo      598899.0
Biobío                                        4727900.0
Coquimbo                                      2744037.0
La Araucanía                                  1455345.0
Libertador General Bernardo O'Higgins         4142980.0
Los Lagos                                     2477329.0
Los Ríos                                       592556.0
Magallanes y de la Antártica Chilena           180613.0
Maule                                         3190604.0
Metropolitana de Santiago                    25364523.0
Tarapacá                                       210583.0
Valparaíso                                   42515154.0
Ñuble                                         1287330.0
Name: metros_plaza, dtype: float64

## Pregunta 4

In [24]:
df_merge['metros_plaza'].groupby([df_merge['Nombre Región']]).sum().sort_values(ascending=False).head(1)

Nombre Región
Valparaíso    42515154.0
Name: metros_plaza, dtype: float64

## Pregunta 5

In [ ]:
df_presupuesto_2019 = df_presupuesto_2019.replace("No Recepcionado", 0)
df_presupuesto_2019["PRESUPUESTO"] = df_presupuesto_2019["PRESUPUESTO"].astype(int)
df_merge = df_poblacion.merge(df_codigos.merge(df_presupuesto_2019, left_on="Código Comuna 2018", right_on="CODIGO"))

df_merge = df_merge[["Nombre Comuna", "POBLACIÓN", "PRESUPUESTO"]]
df_merge

     Nombre Comuna  POBLACIÓN  PRESUPUESTO
0          Iquique     216514     59072234
1    Alto Hospicio     124150     13984411
2     Pozo Almonte      16683      7613962
3           Camiña       1345      1584008
4         Colchane       1556      2500000
..             ...        ...          ...
340     San Carlos      55935     10459691
341       Coihueco      28147      5001190
342         Ñiquén      11556      3386698
343     San Fabián       4607      1798500
344    San Nicolás      12068      3979700

[345 rows x 3 columns]

## Pregunta 6

In [ ]:
df_merge = df_codigos.merge(df_poblacion, left_on='Código Comuna 2018', right_on='CODIGO')

df_merge["POBLACIÓN"].groupby([df_merge['Nombre Región']]).sum()

Nombre Región
Antofagasta                                   668563
Arica y Parinacota                            247036
Atacama                                       311307
Aysén del General Carlos Ibáñez del Campo     106680
Biobío                                       1654744
Coquimbo                                      821726
La Araucanía                                 1007965
Libertador General Bernardo O'Higgins         978868
Los Lagos                                     884464
Los Ríos                                      403413
Magallanes y de la Antártica Chilena          175853
Maule                                        1118947
Metropolitana de Santiago                    7915199
Tarapacá                                      368906
Valparaíso                                   1935455
Ñuble                                         507959
Name: POBLACIÓN, dtype: int64

## Pregunta 7

In [ ]:
df_merge = df_codigos.merge(df_poblacion, left_on='Código Comuna 2018', right_on='CODIGO')

df_merge["POBLACIÓN"].groupby([df_merge['Nombre Provincia']]).sum()

Nombre Provincia
Aisén                        32272
Antofagasta                 439822
Antártica Chilena             1976
Arauco                      175897
Arica                       243738
Biobío                      420927
Cachapoal                   695513
Capitán Prat                  4882
Cardenal Caro                48137
Cauquenes                    61272
Cautín                      793342
Chacabuco                   315713
Chañaral                     27531
Chiloé                      180363
Choapa                       93909
Coihaique                    61741
Colchagua                   235218
Concepción                 1057920
Copiapó                     202864
Cordillera                  677634
Curicó                      308798
Diguillín                   339134
El Loa                      194333
Elqui                       545302
General Carrera               7785
Huasco                       80912
Iquique                     340664
Isla de Pascua                8073
Itata                        56512
Limarí                      182515
Linares                     305131
Llanquihue                  438088
Los Andes                   114976
Magallanes                  141297
Maipo                       544731
Malleco                     214623
Marga Marga                 369725
Melipilla                   208141
Osorno                      246933
Palena                       19080
Parinacota                    3298
Petorca                      82444
Punilla                     112313
Quillota                    216452
Ranco                        97849
San Antonio                 178749
San Felipe de Aconcagua     164741
Santiago                   5838768
Talagante                   330212
Talca                       443746
Tamarugal                    28242
Tierra del Fuego              8169
Tocopilla                    34408
Valdivia                    305564
Valparaíso                  800295
Última Esperanza             24411
Name: POBLACIÓN, dtype: int64